
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html{
    overflow-x: hidden;
}
.container{
    margin: 0 auto;
    max-width: 415px;  
    background: url('../img/background/1.png') no-repeat;
    background-size: 100% auto;
}
    

@import url('./first-section.scss');
@import url('./carts.scss');
@import url('./media.scss');
@font-face {
    font-family: 'SF Pro Display Italic';
    font-weight:medium;
    src:  url('../fonts/SFPRODISPLAYMEDIUM.woff') format('woff');
}
@font-face {
    font-family: 'SF Pro Display Bold';
    font-weight:medium;
    src:  url('../fonts/SFPRODISPLAYBOLD.woff') format('woff');
}
@font-face {
    font-family: 'SF Pro Text Regular';
    font-weight:medium;
    src:  url('../fonts/SFPRODISPLAYREGULAR.woff') format('woff');
}
